<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
    <link rel="stylesheet" href="../css/add.css">
</head>

<body>
    <div class="div_table">
        <div class="div_tableHeader">
            <h1>Add New Item</h1>
        </div>
        <div class="div_tableBody">
            <form action="/NewsItems" method="POST">
                <div>
                    <label for="imageUrl">Image URL :</label>
                    <input type="text" name="imageUrl" required>
                </div>
                <div>
                    <label for="title">Title :</label>
                    <input type="text" name="title" required>
                </div>
                <div>
                    <label for="info">Info :</label>
                    <textarea name="info" required></textarea>
                </div>
                <div>
                    <button type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
