<html>

<body>
    <p>Use the following IDs and Password:</p>
    <ol>
        <li>guest (password: guest)</li>
        <li>developer (password: developer)</li>
    </ol>
    <hr>
    <form action="/login" method="post">
        Username: <input type="text" name="name"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <form action="/register">
        <input type="submit" value="Register">
    </form>

    <body>
        <div class="container">
            <h1>Login</h1>
            <% if (name) { %>
                <p>Welcome, <%= name %>, !</p>
                { name: '<%= name %>', password: '<%= password %>' }
                        <% } else { %>
                            <p>No user found. Please try again later.</p>
                            <% } %>
        </div>
    </body>
</body>

</html>